.overview_section_hero {
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .overview_img {
        height: 500px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .text_wrapper {
        position: absolute;
        z-index: 999;
        text-align: center;

        .hero_title {
            color: #fff;
            font-size: 2.5rem;
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
    }

}

.detail_section_wrapper {
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 8rem;

    .text_side {

        .text_side_list {
            list-style: none;
            padding-left: 0;
            margin-top: 3rem;

            .list_item {
                margin-bottom: 1rem;
            }
        }
    }

    .section_row {
        display: flex !important;
        justify-content: center;
        align-items: center;
    }

    .image_side {
        .fact_img {
            height: 500px;
            width: 100%;
            object-fit: cover;
        }
    }
}

.platform_section_wrapper {
    background-color: #f7f9fa;

    .learn_more_btn {
        font-weight: 600;
        border-radius: 999px;
        cursor: pointer;
        border: none;
        padding-top: 0.8rem;
        padding-bottom: 1rem;
        width: 150px;
        background-color: #000000;
    }

    .section_row {
        align-items: center;
    }

    .icon_tray {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 8px;

        .icon_card {
            background-color: #fff;
        }

        .card_icon {
            width: 50px;
        }
    }
}

.banner_section_wrapper {
    background-color: #000000;
    color: #fff;
}